footer {
    background-color: #d1d9f5b6;
    padding: 25px;
    width: 1800vh;
    margin-top: 45px;
  }
h4,h2{
  color: #6984e6;
}
.carousel-inner img {
    width:100%; /* Set width to 100% */
    margin: auto;
    height:100%;
}
#btnToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 25px solid #6984e6;


}

.item{
    height: 600px;
}
#bannerImage{
  height: 600px;
}
.content-container{
  width: 80%;
  margin: 0 auto;
}
.container{
  background-color: #d1d9f5b6;
}

.naslovi{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 1.6rem;
}
.naslovi::before, .naslovi::after{
  content: "";
  height: 2px;
  background-color: black;
  display: block;
}
.phone{
  background: gray;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4%;
  width: 100%;
  padding: 5px;
  transition: all 0.4s ease;
}
nav.sticky {
  position: fixed;
  z-index: 100;
  padding: 10px 5px;
  /* background: rgba(11, 179, 134, 1); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
nav .nav-content {
  height: 50%;
  margin-left: 50px;
}
.navbar-nav{
  margin-right: 50px;
}
.navbar-nav{
  width: 200px;
  display: flex;
  justify-content: space-between;
} 
.nav-links li a {
  text-decoration: none;
  color: #0e2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3 ease;
}

.nav-links li a:hover {
  color: #1d1b12;
  font-size: 18.5px;

}

.nav.sticky .nav-links li a {
  color: #fff;
  transition: all 0.4 ease;
}

.nav.sticky .nav-links li a:hover {
  color: #0e2431;
}


.priceConatiner{
  border: 1px solid black;
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
 
}

.price{

  width: 500px;
  height: 500px;
  display: inline-block;
  border: 1px solid red;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align:middle; 
}





@media (max-width: 1400px) {
  .item{
    height: 400px;
  }
  #bannerImage {
    height: 400px;
  }
  .carousel-inner{
    height: 400px;
  }
  #roletniContainer > .container > .row , .col-lg{
    margin: 0 auto;    
    width: 90%;
  }
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  #roletniContainer{
    width: 100%;
    text-align: center;
  }
   #roletniContainer > .container > .row , .col-lg{
    margin: 0 auto;    
    width: 100%;
  }
  
  nav .nav-content{

    margin-left: 0px;
  }
  .nav-content{
    padding-left: 0px;
  }
  .container-fluid{
    padding-left: 0px;
  }
  .navbar-nav{
    padding: 15px;
  }
  .container-fluid .navbar-collapse{
    margin-right: -30px;
  }
  
  #navbarNavDropdown{
    background-color: white;
    min-width: 100%;
  }
  
  footer{
    width: 90%;
    font-size: small;
  }
  footer .bi{
      width: 60px;
      height:  60px;
  }
  #bannerImage{
    height: 200px;
    width: 2500px;
  }
 
  .carousel-indicators, .carousel-control,  .carousel-caption{
    display: none;
  }

  .carousel-inner{
    height: 200px;
  }  

  nav {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 8%; */
    width: 100%;
    /* padding: 5px; */
    transition: all 0.4s ease;
  }
  nav.sticky {
    position: fixed;
    z-index: 100;
    padding: 10px 5px;
    /* background: rgba(11, 179, 134, 1); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
  .priceConatiner{
    height: 500px;
    border: 2px solid black;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
   
  }
  
  .price{
    width: 80%;
    height: 50%;
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align:middle; 
    margin: 10px;
  }
 
}

