footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
.carousel-inner img {
    width:100%; /* Set width to 100% */
    margin: auto;
    height:100%;
   
    
  
}
.item{
    max-height: 600px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  }
  
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}